
h1{ display: flex;
    align-items: center;
    color: rgb(34, 39, 39);
    background-color: rgb(181, 212, 150);

}


img{
    margin: 22px;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav{    display: flex;
        justify-content: space-between;
        align-items: center;
    }

body{
    background-color: rgb(210, 240, 13);
}


ul{ display: flex;
    align-items: center;
    list-style:none ;
    gap: 30px;

}

